# Web Scraping using Pandas

____

## Import libraries

In [1]:
import pandas as pd

## Load data

In [5]:
df = pd.read_html('https://en.wikipedia.org/wiki/FIFA_World_Cup')

____

In [11]:
df[8]

   Rank National team  Goals scored
0     1        Brazil           237
1     2       Germany           232
2     3     Argentina           152
3     4        France           136
4     5         Italy           128
5     6         Spain           108
6     7       England           104
7     8   Netherlands            96
8     9       Uruguay            89
9    10       Hungary            87