# Descriptive  Statistics

## Importing required libraries

In [1]:
import pandas as pd

## Loading the Data

In [2]:
df = pd.read_csv('Datasets/headbrain.csv')

source: https://www.kaggle.com/rashmiek99/head-size-vs-brain-weight/data

## Check the dimensions

In [3]:
df.head()

   Gender  Age Range  Head Size(cm^3)  Brain Weight(grams)
0       1          1             4512                 1530
1       1          1             3738                 1297
2       1          1             4261                 1335
3       1          1             3777                 1282
4       1          1             4177                 1590

In [5]:
df.tail()

     Gender  Age Range  Head Size(cm^3)  Brain Weight(grams)
232       2          2             3214                 1110
233       2          2             3394                 1215
234       2          2             3233                 1104
235       2          2             3352                 1170
236       2          2             3391                 1120

In [4]:
df.shape

(237, 4)

## Keep only two variables for this example

In [6]:
df.drop(['Gender','Age Range'], axis = 1, inplace = True)

In [7]:
df

     Head Size(cm^3)  Brain Weight(grams)
0               4512                 1530
1               3738                 1297
2               4261                 1335
3               3777                 1282
4               4177                 1590
..               ...                  ...
232             3214                 1110
233             3394                 1215
234             3233                 1104
235             3352                 1170
236             3391                 1120

[237 rows x 2 columns]

## Calculating the Mean or Average

### Head size

In [9]:
sum_head_size = sum(df['Head Size(cm^3)'])
sum_head_size

861256

In [10]:
num_head_size = len(df['Head Size(cm^3)'])
num_head_size

237

In [11]:
mean_head_size = sum_head_size/num_head_size
mean_head_size

3633.9915611814345

### Brain size

In [25]:
sum_brain_size = sum(df['Brain Weight(grams)'])
sum_brain_size

304041

In [13]:
num_brain_size = len(df['Brain Weight(grams)'])
num_brain_size

237

In [15]:
mean_brain_size = sum(df['Brain Weight(grams)'])/len(df['Brain Weight(grams)'])
mean_brain_size

1282.873417721519

## Median

### Sort values

In [30]:
type(df['Head Size(cm^3)'])

pandas.core.series.Series

In [31]:
sorted_head_size = sorted(df['Head Size(cm^3)'])

In [32]:
sorted_head_size[0:10]

[2720, 2773, 2857, 2864, 2937, 2939, 2989, 3000, 3058, 3067]

### Middle index

In [21]:
middle_index = int((num_head_size + 1) / 2)
middle_index

119

In [23]:
median = sorted_head_size[middle_index]
median

3615

## Mode

### Frequency

In [28]:
size_counts = {}

for p in df['Brain Weight(grams)']:
    if p not in size_counts:
        size_counts[p] = 1
    else:
        size_counts[p] += 1
        
size_counts

{1530: 1,
 1297: 1,
 1335: 3,
 1282: 1,
 1590: 1,
 1300: 5,
 1400: 3,
 1255: 1,
 1355: 3,
 1375: 2,
 1340: 4,
 1380: 4,
 1522: 1,
 1208: 1,
 1405: 3,
 1358: 1,
 1292: 1,
 1357: 1,
 1287: 1,
 1275: 2,
 1270: 5,
 1635: 1,
 1505: 1,
 1490: 1,
 1485: 2,
 1310: 5,
 1420: 1,
 1318: 1,
 1432: 3,
 1364: 1,
 1207: 1,
 1350: 8,
 1236: 1,
 1250: 6,
 1320: 3,
 1525: 1,
 1570: 1,
 1422: 1,
 1506: 1,
 1215: 2,
 1311: 1,
 1224: 1,
 1390: 2,
 1225: 3,
 1560: 1,
 1330: 2,
 1222: 1,
 1415: 2,
 1175: 3,
 1470: 1,
 1135: 1,
 1154: 1,
 1510: 1,
 1468: 1,
 1240: 4,
 1195: 1,
 1188: 1,
 1252: 2,
 1315: 1,
 1245: 2,
 1430: 2,
 1279: 1,
 1309: 1,
 1412: 1,
 1120: 3,
 1220: 5,
 1280: 5,
 1440: 2,
 1370: 1,
 1192: 2,
 1230: 1,
 1346: 1,
 1290: 6,
 1165: 3,
 1132: 1,
 1242: 1,
 1218: 1,
 1588: 1,
 1260: 2,
 1425: 1,
 1226: 1,
 1360: 1,
 1620: 1,
 1295: 1,
 1362: 1,
 1173: 1,
 1256: 1,
 1180: 4,
 1306: 2,
 1125: 1,
 1312: 1,
 1450: 1,
 1027: 1,
 1235: 3,
 1080: 1,
 1127: 2,
 1200: 1,
 1334: 1,
 1140: 1,
 1243: 2,
 1168: 1,
 1322: 1,
 1249: 1,
 1321: 1,
 1373: 1,
 1170: 2,
 1265: 1,
 1302: 1,
 1241: 1,
 1078: 1,
 1520: 1,
 1460: 1,
 1075: 1,
 1190: 1,
 1374: 1,
 1202: 1,
 1316: 1,
 1210: 2,
 1324: 1,
 1100: 1,
 1160: 1,
 1205: 1,
 1163: 1,
 1022: 1,
 1237: 1,
 1204: 1,
 1090: 1,
 1076: 1,
 1095: 1,
 1105: 1,
 1150: 1,
 1305: 1,
 1296: 1,
 955: 1,
 1070: 1,
 1060: 2,
 1130: 2,
 1178: 1,
 1142: 1,
 1185: 1,
 1012: 1,
 1103: 1,
 1408: 1,
 1246: 1,
 1110: 1,
 1104: 1}

In [29]:
count = 0
size = 0

for s,c in size_counts.items():
    if count < c:
        count = c
        size = s

print('Size:', size, '\nFrequency:', count)

Size: 1350
Frequency: 8

## Max, Min

In [37]:
min_head_size = min(df['Head Size(cm^3)'])
max_head_size = max(df['Head Size(cm^3)'])
min_head_size, max_head_size

(2720, 4747)

## Range

In [38]:
range_head_size = max_head_size - min_head_size
range_head_size

2027