# Sklearn Simple Imputer

____

## Importing libraries

In [1]:
import pandas as pd
import numpy as np

____

## Load data

In [2]:
dataset = {'col1': [1, 3, np.nan, 4, np.nan],
           'col2': [np.nan, 3, 5, np.nan, 7]}

In [3]:
df = pd.DataFrame(dataset)

In [4]:
df

   col1  col2
0   1.0   NaN
1   3.0   3.0
2   NaN   5.0
3   4.0   NaN
4   NaN   7.0

In [5]:
df.shape

(5, 2)

____

## Data Imputation

### Simple

In [6]:
from sklearn.impute import SimpleImputer

In [7]:
imputation = SimpleImputer(strategy='mean')
mean_imputed_df = pd.DataFrame(imputation.fit_transform(df))

In [8]:
mean_imputed_df

          0    1
0  1.000000  5.0
1  3.000000  3.0
2  2.666667  5.0
3  4.000000  5.0
4  2.666667  7.0

### Constant

In [9]:
imputation = SimpleImputer(strategy='constant', fill_value=1, add_indicator=True)
const_imputed_df = pd.DataFrame(imputation.fit_transform(df))

In [10]:
const_imputed_df

     0    1    2    3
0  1.0  1.0  0.0  1.0
1  3.0  3.0  0.0  0.0
2  1.0  5.0  1.0  0.0
3  4.0  1.0  0.0  1.0
4  1.0  7.0  1.0  0.0

### KNN

In [11]:
from sklearn.impute import KNNImputer

In [12]:
imputation = KNNImputer(n_neighbors=1)
knn_imputed_df = pd.DataFrame(imputation.fit_transform(df))

In [13]:
knn_imputed_df

     0    1
0  1.0  3.0
1  3.0  3.0
2  3.0  5.0
3  4.0  3.0
4  3.0  7.0